modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "unit-tests"

[[workflows.workflow]]
name = "unit-tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm test"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0", "elevenlabs:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001

[nix]
packages = ["run"]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_qGRAJNYeNQyxmMetXVmFVMoNdHw"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_CFYxaegWWxwaAfSyRZqMQTqXZow"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_rfvFXrdeppYsCwABNPkZrcvQQSi"
REVENUECAT_PROJECT_ID = "proj47cbedde"
REVENUECAT_TEST_STORE_APP_ID = "app2db1cf053a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app77793bc0e7"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app98f0664bd6"
REVENUECAT_BETA_BYPASS = "true"
